{
  "presets": [
    [
			"env",
			{
				"targets": {
					"browsers": [
						"last 2 Chrome versions"
					]
				},
				"useBuiltIns": true
			}
		],
    "stage-0",
    "jest"
  ],
  "plugins": [
    "transform-runtime"
  ]
}

